body {
    background-color: #f4fdf4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.signup-container {
    background-color: white;
    padding: 50px;
    border-radius: 40px;
    width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 0;
}


.brand-name {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}

.green-text {
    color: #28a745;
}

.nav-links {
    margin: 10px 0 20px;
    font-size: 16px;
}

.nav-links a {
    color: #28a745;
    text-decoration: none;
    margin: 0 5px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.signup-form button {
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 14px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-form button:hover {
    background-color: #28a745;
}

.back-link {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    color: #28a745;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}