body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 40px 20px;
}

h2 {
    text-align: center;
    color: #28a745;
    margin-bottom: 30px;
    font-size: 32px;
}

.tabs {
    text-align: center;
    margin-bottom: 30px;
}

.tabs span {
    cursor: pointer;
    margin: 0 25px;
    padding: 12px 18px;
    font-weight: bold;
    border-bottom: 4px solid transparent;
    transition: 0.3s;
    font-size: 25px;
}

.tabs .active {
    color: #28a745;
    border-color: #28a745;
}

.step-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
}

.step {
    background: #f9f9f9;
    border-radius: 20px;
    width: 320px;
    height: 320px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease;
}

.step:hover {
    transform: scale(1.03);
}

.step img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.step h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 10px;
    color: #000;
}

.step p {
    font-size: 18px;
    color: #0d0505;
    margin: 0;
}

.arrow {
    width: 50px;
    height: 50px;
    background-color: #28a745;
    color: white;
    font-size: 28px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .step {
        width: 90%;
        height: auto;
        padding: 20px;
    }
    .arrow {
        display: none;
    }
}

.center-button {
    display: block;
    margin: 40px auto;
    background-color: #28a745;
    color: white;
    padding: 15px 40px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.center-button:hover {
    background-color: #28a745;
}